<form action="<%= car_path(car) %>" method="post">
	<input type="text" name="year" placeholder="Year" />
	<input type="text" name="make" placeholder="Make" />
	<input type="text" name="model" placeholder="Model" />
	<input type="text" name="color" placeholder="Color" />
	<input name="_method" type="hidden" value="put" />
	<input type="submit" value="Edit">
</form>