
<div class="col-lg-10">
<div class="well">
<form class="bs-example form-horizontal" action="<%= cars_path %>" method="post">
	<fieldset>
		<legend>Submit Your Car</legend>
		<div class="form-group">
	<input type="text" name="year" id="year" maxlength="10" placeholder="Year"><br>
	<input type="text" name="make" id="make" maxlength="300" placeholder="Make"><br>
	<input type="text" name="model" id="model" maxlength="300" placeholder="Model"><br>
	<input type="text" name="color" id="color" maxlength="300" placeholder="Color"><br>
	<button type="submit" class="btn btn-primary" >Submit new car!</button>
</div>
</fieldset>
</form>

</div>
</div>