<body>
<div class="new_car" style="background-color: lightblue">
<form id="new_car" action="/cars/update" method="post">
	<input type="text" name="year" id="year" maxlength="10" placeholder="Year"><br>
	<input type="text" name="make" id="make" maxlength="300" placeholder="Make"><br>
	<input type="text" name="model" id="model" maxlength="300" placeholder="Model"><br>
	<input type="text" name="color" id="color" maxlength="300" placeholder="Color"><br>
	<button type="submit" class="button" >Submit new car!</button>

</form>

</div>
</body>