<!DOCTYPE html>
<html>
<head>
  <title>CarApp</title>
  <link href="styles/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">


	<a href="/">HOME</a>
	
	<%= yield %>

	</div>

</body>
</html>
